# ::::: How to create virtual environment by venv.
# $ cd [project dir]
# $ py -m venv VenvSummaryLounge
# $ .\VenvSummaryLounge\Scripts\activate

# ::::: Run command if deactivation
# $ deactivate

# ::::: Install library
# $ pip install -r requiremnets.txt

requests
urllib3
selenium
toml
numpy
pandas

beautifulsoup4
arxiv

vertexai
google-cloud-aiplatform

# langchain
